<a href="https://colab.research.google.com/github/LeeM21/python/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a = input('당신의 이름을 입력하시오 >>> ')
a

당신의 이름을 입력하시오 >>> 인천정보산업

'인천정보산업'

In [5]:
b = input('당신의 나이 >>>')
b

당신의 나이 >>>19

'19'

In [6]:
type(b)

str

In [8]:
c = int(b)
c, type(c)

(19, int)

In [16]:
year = int(input('출생년도를 입력>>>'))
print('당신은 ',year,"년에 태어났군요!")
age=2020-year+1
print('당신은 ',age,"세입니다")

출생년도를 입력>>>2002
당신은  2002 년에 태어났군요!
당신은  19 세입니다

In [18]:
s= 'a is {}'
s.format('apple')

'a is apple'

In [20]:
a= '%s %d 개 가격은 %.2f 달라'
b= a %('햄버거', 2, 4.0*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달라
햄버거 2 개 가격은 8.00 달라

In [21]:
a= '%s %d 개 가격은 %d 달라'
b= a %('치킨', 2, 20000*2)
print(a)
print(b)

%s %d 개 가격은 %d 달라
치킨 2 개 가격은 40000 달라