## Pandas

# Boolean

In [1]:
True == True

True

In [2]:
True == 0

False

In [4]:
True == '1'

False

In [5]:
True == False

False

In [6]:
True != 0

True

In [7]:
False == 0

True

In [8]:
True or False

True

In [9]:
1=='1'

False

In [10]:
True and False

False

In [16]:
eng = 'Korea COVID 19'
eng.lower()

'korea covid 19'

In [17]:
eng.upper()

'KOREA COVID 19'

In [18]:
a='KOKA'
b='cola'

In [19]:
a.lower()

'koka'

In [20]:
b.upper()

'COLA'

In [26]:
list_data=[1,'두번째',3,,4,100,5]
tuple_data=(1, 2,3,4,5)
dic_data = {1:100,2:200,3:300,4:400,5:500}

In [27]:
type(list_data),type(tuple_data), type(dic_data)

(list, tuple, dict)

In [28]:
list_data[0], list_data[1]

(1, '두번째')

In [30]:
list_data[3]

4

In [32]:
list_data[3:]

[4, 5]

In [35]:
list_data[-1]='마지막'
list_data[-1]

'마지막'

In [36]:
tuple_data[2]

3

In [53]:
data=[]
data.append('java')

['java']

In [54]:
data[0],data[-1],data[1:],data[:2]

('java', 'java', [], ['java'])

In [59]:
data.sort()
data

['java']

In [61]:
data.reverse()
data

['java']

In [62]:
b=(1,2,3,'사','오')
c=1,2,3
type(b),type(c)

(tuple, tuple)

In [63]:
b[3]=4

TypeError: 'tuple' object does not support item assignment

In [65]:
b[3:],b[1:4]

(('사', '오'), (2, 3, '사'))

In [67]:
dic = {'name1' : '경민', '학번1':20103,'name2':'경민2','학번2':20104}
dic.get('name1')

'경민'

In [68]:
dic.keys()

dict_keys(['name1', '학번1', 'name2', '학번2'])

In [70]:
dic.values()

dict_values(['경민', 20103, '경민2', 20104])

In [71]:
lunch = {'햄버거','치킨','라면','콜라',10000}
dinner = {'피자','족발','라면','콜라',10000}
lunch & dinner

{10000, '라면', '콜라'}

In [74]:
lunch | lunch

{10000, '라면', '치킨', '콜라', '햄버거'}

In [80]:
a = [1,2,3]
a

[1, 2, 3]

In [79]:
b = [4,5,6]
b

[4, 5, 6]

In [10]:
import pandas as pd

In [1]:
man = {
    {'num':1, 'sum':4},
    {'num':2, 'sum':5},
    {'num':3, 'sum':6}
  
    }

TypeError: unhashable type: 'dict'

In [2]:
pd.dataFrame(man)

NameError: name 'pd' is not defined

In [7]:
person ={
    'name' : ['a','b','b','d'],
    '국어' : [100,17,50,90],
    '영어' : [80,60,40,80]
    
    
}

In [15]:
pd.DataFrame('person')

ValueError: DataFrame constructor not properly called!

In [28]:
grade = [
    {'C':10,'R':20,'JAVA':50},
    {'C':10,'R':20,'JAVA':50},
    {'C':10,'R':20,'JAVA':50},
    {'C':10,'R':20,'JAVA':50},
    {'C':10,'R':20,'JAVA':50}
]
pd.DataFrame(grade,index=['1교시','2교시','3교시','4교시','5교시'])

      C   R  JAVA
1교시  10  20    50
2교시  10  20    50
3교시  10  20    50
4교시  10  20    50
5교시  10  20    50